@model Beci_Helga_Proiect.Models.StoreViewModels.DistributorIndexData
@{
    ViewData["Title"] = "Distributors";
}
<h2>Distributors</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Distributor Name</th>
            <th>Adress</th>
            <th>Laptops</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Distributors)
        {
            string selectedRow = "";
            if (item.ID == (int?)ViewData["DistributorID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.DistributorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adress)
                </td>
                <td>
                    @{
                        foreach (var laptop in item.DistributedLaptops)
                        {
                            @laptop.Laptop.ID @: @laptop.Laptop.Model <br />
                        }
                    }
                </td>
                <td>
                    <a asp-action="Index" asp-route-id="@item.ID">Select</a> |
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.Laptops != null)
{
    <h3>Laptops Distributed by Selected Distributor</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Model</th>
            <th>Company</th>
            <th>Price</th>
        </tr>
        @foreach (var item in Model.Laptops)
        {
            string selectedRow = "";
            if (item.ID == (int?)ViewData["LaptopID"])

            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Select", "Index", new { laptopID = item.ID })
                </td>
                <td>
                    @item.Model
                </td>
                <td>
                    @item.Company
                </td>
                <td>
                    @item.Price
                </td>
            </tr>
        }
    </table>
}
@if (Model.Orders != null)
{
    <h3>
        Customers that have ordered the Selected Laptop
    </h3>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Order Date</th>
        </tr>
        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>
                    @item.Customer.Name
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
            </tr>
        }
    </table>
}
